* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, .page, body {
    height: 100%;
}

@media (max-width: 480px) {
    html, .page, body {
        height: inherit;
        
    }
}

body {
    background: #EFF1FF;
    
    margin: 0 auto;
}

.desktop {
    display: block;
    
}

@media (max-width: 480px) {
    .desktop {
        display: none;
    }
}

.mobile {
    display: none;
}

@media (max-width: 480px){
    .mobile {
        display: block;
    }
}

.page {
    text-align: center;
    display: flex;
    
    
    margin: auto;

    
}

@media (max-width: 480px) {
    .page {
        max-width: 480px;
        flex-direction: column;
        align-items: center;
    }

    
}

header {
    background: #8E9AAF;
    width: 110%;
    max-width: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 480px) {
    header {
        height: 279px;
        max-width: 100%;
    }
}

header img {
    margin-top: 32px;
}

header h1 {
    background: #CBC0D3;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    
    font-size: 48px;
    line-height: 34px;
    padding: 20px 0;
    margin-top: 20px;

    letter-spacing: 0.05em;

    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 40px;
        line-height: 34px;
        padding: 8px 0;
    }
}

header p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    font-size: 19px;
    
    line-height: 24px;
    margin-top: 70px;
    width: 306px;
    color: #FFFFFF;
    
    margin-bottom: 62px;
}

@media (max-width: 480px){
    header p {
        color: #23053A;
        
        font-family: 'Palanquin', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
    }
}

main {
    margin: 170px 0px 60px;
    
    
    
}

@media (max-width: 480px){
    main {
        width: 320px;
    }
}

.card {
    position: relative;

    animation-name: downtop;
    animation-duration: 1s;
}

.card.um {
    display: block;
}

@media (max-width: 480px) {
    .card.um {
        display: none;
    }
}

.card span {
    background: #FEEAFA;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
   

    letter-spacing: 0.05em;

    color: #4A4E69;
    border-radius: 20px;
    
    position: absolute;
    
    

    animation-name: topdown;
    animation-duration: 2s;

    width: 112px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: 16px;
    right: 16px;
    display: none;
}

@media (max-width: 480px) {
    .card span {
        display: flex;
    }
}



.cards {
    display: flex;
    
    gap: 32px;
}

@media (max-width: 480px) {
    .cards {
        flex-direction: column;
    }
}


@keyframes topdown {
    
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes downtop { 
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    50% {
        opacity: 0.2;
    }

    76% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*pra toda tela que tiver pelo menos 470 pixel faça isso - acima de celular*/
@media (min-width: 481px) {
    .page {
     
    }
}

/*para toda tela que tiver ATÉ 480px faça isso - para celular*/
@media (max-width: 480px){
    .page {
        
       }
}